{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div style="margin-top: 40px;" class="intro">
        <h3>This is child component</h3><br>
        <br><h4>Its going to inherit the basic base.html structure</h4><br>
    </div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ea maiores, odit ex animi nobis aliquam dolore quo repudiandae et? Saepe dolorem optio rerum sequi, velit cumque alias et porro! Nemo, quam maxime. Commodi iste minus consectetur vel libero perspiciatis dolores, labore nostrum, doloremque culpa eos voluptatem illum vitae veritatis cumque exercitationem doloribus adipisci ipsam eveniet id. Nisi asperiores praesentium repudiandae magni commodi laboriosam, neque aliquid ipsa alias pariatur quo!
</div>
{% endblock %}