{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div>
      <h3 style="margin-top: 50px; margin-bottom: 30px;">This is index</h3>
      <br><h4>It has inherited navbar from the base.html file</h4>
    </div>
    <div class="story" style="margin-bottom: 30px;" >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis facere facilis numquam aut qui? Quia laborum voluptate debitis et, ea voluptates facere accusantium fugit dignissimos. Vero obcaecati delectus ullam ad atque natus quos repellat repudiandae iure voluptatum modi, tenetur nam libero? Placeat quas laborum, maxime optio error aliquid voluptate delectus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta laudantium error libero ipsam est ut aut illo cupiditate odit! Accusantium, cum! Dolore fugit magnam laudantium laborum at assumenda! Veritatis autem voluptatibus sint quas maiores dolorem illo perferendis labore accusamus. Fugiat facere odit repellat, aspernatur perspiciatis aliquid. Accusantium unde voluptatibus deleniti praesentium odio tempore maiores delectus eveniet veritatis eum autem fugiat ipsa.
    </div>
    <div class="card" style="width: 18rem; border: 2px solid rgb(0, 89, 255);">
        <div class="card-body">
          <h5 class="card-title">Card title</h5><hr><br>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
</div>
{% endblock %}